<ng-container *ngIf="data$ |async as data">
<!-- fxLayout="row" fxLayout.sm="column" -->
  <mat-card  class="example-card" *ngFor="let product of data.products">
    <!-- fxLayout="column" fxLayoutAlign="center center" -->
    <div  >
      <img mat-card-image [src]="product.img">
    </div>
    <div>
      <!--  fxLayout="column" -->
      <mat-card-header>
        <mat-card-title>{{product.title}}</mat-card-title>
        <mat-card-subtitle>{{product.subtitle}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{product.description}}
        </p>
      </mat-card-content>
    </div>
  </mat-card>

</ng-container>
